.deleted {
    color: var(--error-fg);
    font-weight: normal;
    text-decoration:line-through;
}

tr:has(.deleted-field) {
    background-color: var(--message-error-bg);
    td, th {
        color: var(--error-fg);
    }
}